<footer>
  <img class="footer-img img-responsive" src="images/footer-background.png" alt="footer-img">
  <div class="footer text-center">
    <p class="footer-copyright-text">&copy; Copyright 2019
      <a herf="https://github.com/chingu-voyages/v10-geckos-team-14">
      ChinguV10 Team#14
    </p></a> 
    <p class="footer-copyright-text">Made with ❤️, Lots of ☕️ & Chingu </p>
  </div>
</footer>



<!-- jQuery google cdn -->
<script src="https://ajax.googleapis.com/ajax/libs/ext-core/3.1.0/ext-core.js"></script>
<!-- custom js -->
<script src="js/index.js" charset="utf-8"></script>
<!-- bootstrap js -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
