<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

		<!-- Social Media Share Links -->
		<meta 
			property="image"
			content="https://github.com/chingu-voyages/v10-geckos-team-14/blob/master/public/images/helpingHands-300-200.png?raw=true"
		/>
		<meta
			property="og:image"
			content="https://github.com/chingu-voyages/v10-geckos-team-14/blob/master/public/images/helpingHands-300-200.png?raw=true"
		/>
		<meta property="og:title" content="AssistU | On-Demand Household and Personal Services" />
		<meta property="og:url" content="https://assist-u.herokuapp.com/" />
		<meta property="og:description" content="AssistU | On-Demand Household and Personal Services" />
		<meta name=”description” content=”AssistU | On-Demand Household and Personal Services” />
		<meta property="og:type" content="website" />
		<meta property="og:locale" content="en_US" />
		<meta property="og:locale" content="hi_IN" />

		<!-- Author Information -->
		<meta
			name="Vaibhav Srivastava"
			content="Author Email"
			href="mailto:vaibhav.12may95@gmail.com?Subject=Got%20you%20from%AssistU%20Web%20App"
		/>
		<meta
			name="Vaibhav Srivastava"
			content="Author GitHub Portfolio"
			href="https://github.com/vai1205"
		/>
		<meta name="author" content="Kathy Lambert Personal Portfolio" href="https://kathylambert.me" />
		<meta
			name="author"
			content="Kathy Lambert GitHub Portfolio"
			href="https://github.com/CodeMeKathy"
		/>
		<title>AssistU | On-Demand Household and Personal Services</title>
		<!-- font-awesome -->
		<link href="css/fa-all.css" rel="stylesheet" />
		<!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=xQOQ6mNkrd">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=xQOQ6mNkrd">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=xQOQ6mNkrd">
    <link rel="manifest" href="/site.webmanifest?v=xQOQ6mNkrd">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=xQOQ6mNkrd" color="#907f9f">
    <link rel="shortcut icon" href="/favicon.ico?v=xQOQ6mNkrd">
    <meta name="msapplication-TileColor" content="#f1f7f0">
    <meta name="theme-color" content="#f1f7f0">
		<!-- google fonts -->
		<link
			href="https://fonts.googleapis.com/css?family=Domine|Fredoka+One&display=swap"
			rel="stylesheet"
		/>
		<!-- bootstrap4.3.1 -->
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous"
		/>
		<!-- custom stylesheet -->
		<link href="css/styles.css" rel="stylesheet" />
	</head>

	<body>
		<div id="page-container">
			<div id="content-wrap">
