<nav class="navbar">
	<img
		class="header-bk-img"
		style="display:inline-block;"
		src="images/header-background.png"
		alt="header-img"
	/>
	<a class="logo-img-link" href="/">
		<img
			src="/images/helpingHands.png"
			width="50"
			height="50"
			class="logo-img"
			alt="logo-assistU"
		/>
		<span class="brand-name">AssistU</span>
	</a>
	<a href="/login">
		<h4 class="sign-in-up">Sign In</h4>
	</a>
</nav>
