<nav class="navbar">
	<img
		class="header-bk-img"
		style="display:inline-block;"
		src="images/header-background.png"
		alt="header-img"
	/>
	<a class="logo-img-link" href="/">
		<img
			src="/images/helpingHands.png"
			width="50"
			height="50"
			class="logo-img"
			alt="logo-assistU"
		/>
		<span class="brand-name">AssistU</span>
	</a>
	<div class="btn-group">
			<div class="btn-group dropleft" role="group">
				<button type="button" class="btn btn-secondary dropdown-toggle assistUBtn dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="sr-only">Toggle Dropleft</span>
				</button>
				<div class="dropdown-menu">
					<!-- Dropdown menu links -->
					<a class="dropdown-item" href="/register">Register</a>
				</div>
			</div>
			<button id="login-btn" type="submit" class="btn btn-secondary assistUBtn">
					<form id="login" action="/login">
						Login
						</form>
			</button>
		</div>
</nav>
