<%- include("partials/header") -%> <%- include("partials/navbarLogout") -%>

<h5
	class="text-right"
	style="position: absolute;top: 0.4rem;right: 2rem;text-shadow: 1px 1px #f2f7f0;"
>
	<%= clientDisplayName %>
</h5>

<div class="container" style="margin-top: 4rem;">
	<h1>Congratulations</h1>
	<h2>Order Successfully Received</h2>
	<h6>Order Accepted</h6>
	<img src="images/confirm-img.png" alt="" />
	<h4>Your order is complete</h4>

	<p>Thank you for your order. Please stay tuned for order updates.</p>
</div>
<%- include("partials/footer") -%>
