<%- include("partials/header") -%> 
<%- include("partials/navbarLogout") -%>

<h5
	class="text-right"
	style="position: absolute;top: 0.4rem;right: 2rem;text-shadow: 1px 1px #f2f7f0;"
>
	<%= clientDisplayName %>
</h5>

<div class="container" style="margin-top: 4rem;">
	<h1>Order History</h1>
	
</div>
<%- include("partials/footer") -%>
