<%- include("partials/header") -%>
	<div class="container">
		<div class="container services-section">
			<h2>Invest In Your Convenience</h2>

			<div class="services-btns"></div>
			<div class="service-examples">
				<h3 class="title">Fixers Ready To</h3>
			</div>

			<div class="container how-it-works">
				<div class="sec-header">
					<h3 class="title">How it Works</h3>
				</div>
			</div>
			<div class="container leadership">
				<h3 class="title">LeaderShip</h3>
			</div>
			<div class="container mission">
				<h3 class="title">Our Mission</h3>
			</div>
			<div class="container contact-us">
				<h3 class="title">Contact Us</h3>
			</div>
		</div>
	</div>
<%- include("partials/footer") -%>
