<%- include("partials/header") -%>
<div class="container">
	<section class="container services-section text-center">
		<h2>Invest In Your Convenience</h2>
		<div class="services-btns container">
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-12">
					<img src="images/service-icons/repairs.png" width="100" height="100" alt="repairs-icons">
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
						<img src="images/service-icons/plumbing.png" width="100" height="100" alt="plumbing-icon">
					</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<img src="images/service-icons/housekeeping.png" width="100" height="100" alt="housekeeping-icon">
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6 col-sm-12">
					<img src="images/service-icons/admin.png" width="100" height="100" alt="admin-icon">
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
						<img src="images/service-icons/lawncare.png" width="100" height="100" alt="lawncare-icon">
					</div>
				<div class="col-lg-4 col-md-6 col-sm-12">
					<img src="images/service-icons/personal-driver.png" width="100" height="100" alt="personal-driver-icon">
				</div>
			</div>
		</div>
		<div class="service-examples">
			<h3 class="title">Fixers Ready To</h3>
		</div>
	</section>
		<div class="container how-it-works">
			<div class="sec-header">
				<h3 class="title">How it Works</h3>
			</div>
		</div>
		<div class="container leadership">
			<h3 class="title">LeaderShip</h3>
		</div>
		<div class="container mission">
			<h3 class="title">Our Mission</h3>
		</div>
		<div class="container contact-us">
			<h3 class="title">Contact Us</h3>
		</div>
	</div>

<%- include("partials/footer") -%>
