<%- include("partials/navbar") -%>

<!-- login section begins -->
<br />
<br />
<br />
<img
	class="login-bk-img align-left"
	id="login-bk-img"
	src="images/Login-Bkgd.png"
	alt="color and shape background"
/>
<div class="container login-sec">
	<h1 class="text- center">Maximize Your Time</h1>
	<div class="row"></div>
</div>
<br />

<!-- login section ends -->

<%- include("partials/footer") -%>
