<%- include("partials/header") -%>
<%- include("partials/navbarLogout") -%>
<h5 class="text-right" style="position: absolute;top: 0.4rem;right: 1rem;text-shadow: 1px 1px #f2f7f0;"><%= clientDisplayName %></h5>
<div class="thanks-center">
    <h2 class="display-4">Login Success!</h2>
    <p>Development in progress! Stay tuned for updates.</p>
    <a class="btn btn-primary btn-lg" href="/" role="button"
    style="background-color: #F9D276; font-family: 'Fredoka One', cursive; color: #63032e; border-style: none;"
    >Return Home</a>
</div>
<%- include("partials/footer") -%>
