<%- include("partials/header") -%>

<!-- payment section begins -->
<img
	style="width: 100%; z-index: -1; position: absolute;"
	src="images/payment-background.png"
	alt=""
/>
<div style="z-index: 0;" class="container border border-dark shadow register-box text-left">
	<h2 style="text-align: center !important;">Payment</h2>
	<form action="/login" method="post">
		<h5 style="text-align: center !important;">AssistU</h5>
		<h6 style="text-align: center !important;">Your Total</h6>
		<h6 style="text-align: center !important;">$177</h6>
		<div class="row-btn text-center">
			<a
				class="btn btn-lg btn-outline-warning"
				href=""
				style="border: 1.5px #F9D276 solid; font-family: 'Fredoka One', cursive; color: #63032e; text-decoration: none; border-radius: 1rem;"
				>Credit</a
			>
			<a
				class="btn btn-lg btn-outline-warning"
				href="/register"
				style="border: 1.5px #F9D276 solid; font-family: 'Fredoka One', cursive; color: #63032e; text-decoration: none; border-radius: 1rem;"
				>Cash</a
			>
			<div>
				<h5 style="text-align: center !important;">Cart</h5>
				<div>
					<h6>Fixer Identity Service</h6>
					<p># of Hours</p>
				</div>
				<div>
					<h6>$75</h6>
				</div>
			</div>
			<div>
				<div>
					<h6>Fixer Identity Service</h6>
					<p># of Hours</p>
				</div>
				<div>
					<h6>$102</h6>
				</div>
				<h5 style="text-align: center !important;">Total $177</h5>
			</div>

			<button
				type="submit"
				class="btn btn-lg btn-warning"
				style="background-color: #F9D276; font-family: 'Fredoka One', cursive; color: #63032e; margin:1.3rem 0; border-radius: 1rem; width: 7.5rem;"
			>
				Confirm Cash Payment
			</button>
			<p>
				<a
					href="mailto:assistupro@gmail.com"
					style="font-family: 'Fredoka One', cursive; color: #63032e; text-decoration: underline dotted #63032e;"
					>Cancel Order</a
				>
			</p>
		</div>
	</form>
</div>

<br />

<!-- payment section ends -->

<%- include("partials/footer") -%>
