/*! Overall App Styling */
body {
	background-color: #f1f7f0;
	color: #63032e;
	font-family: 'Domine', serif;
	text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Fredoka One', cursive;
	padding: 0.5rem 0;
}
hr {
	width: 10%;
}
input{
	border-radius: 2rem !important;
}
textarea{
	border-radius: 2rem !important;
	padding-left: 1.5rem !important;
}

.assistUBtn {
border-radius: 3rem;
background-color: #f9d276;
font-family:  'Fredoka One', cursive;
color: #63032e;
opacity: 0.8;
border: none;
}

.assistUBtn:hover {
    color: #e5c17b !important;
    background-color: #63152f !important;
}

/*! Navbar */
.navbar a {
	text-decoration: none;
	color: #63032e;
}
.logo-img {
	margin-bottom: 1.2em;
}
.brand-name {
	font-family: 'Fredoka One', cursive;
	font-size: 40px;
	font-style: italic;
	margin-top: 1em;
}
.sign-in-up h6 {
	text-align: right !important;
}
.header-bk-img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin-top: 0;
	z-index: -1;
	width: 100%;
	height: 330%;
}
.hidden-btn{
		-webkit-border-radius: 28;
		-moz-border-radius: 28;
		color: #000000;
		background: #fff;
		padding: 10px 20px 10px 20px;
		text-decoration: none
}
.hidden-btn:visited {
	background: #f9d276;
	text-decoration: none;
	color: #63152f;
}
.hidden-btn:hover {
		background: #f9d276;
		text-decoration: none;
		color: #63152f;
}

/* TODO: - [ ] Change grey background to below on visited*/
/* .btn-group>.btn-group:not(:last-child)>.btn, .btn-group>.btn:not(:last-child):visited:not(.dropdown-toggle):visited {
	color: #e5c17b !important; 
	background-color:#63152f !important;
} */

.dropdown-item:focus, .dropdown-item:hover, .dropdown-menu:hover {
	color:#63152f !important; 
	background-color: #e5c17b !important;
}
.assistUBtn:active {
	color: #e5c17b !important;
	background-color: #63152f !important;
}
.dropdown-menu{
	border-radius: 2rem;
	opacity: 0.9;
}
.dropdown-item{
	padding: .25rem 2.2rem;
}
a.dropdown-item:active{
	background-color: #f9d276;
}

/* TODO: - [ ] Change grey background to below on visited*/
/* .dropleft .dropdown-menu {
	background-color: #fff;
	color: #63152f;
} */

/*! Landing Page */
.sec-title {
	margin: 1.5rem 0 0 0;
}
.lead{
	margin: 3%;
}

/*! Services Section */

.services-section {
	margin-top: 6em;
}
li {
	font-size: 1.2rem;
}
.service-img {
	margin-top: 1.5rem;
	cursor: -webkit-grab; cursor: grab;
}
.service-img:hover{
	background-color:#e1e3f0;
}
.shadow {
	box-shadow: 0 0.5rem 1rem #63152f80 !important;
	border-radius: 2.5rem;
}

/*! LeaderShip Section */

.leadership {
	width: 100;
}
.name {
	margin: 1rem 0;
}
.bio-div {
	padding: 2% 7%;
}
.bio-text {
	text-align: justify;
}

/*! How it `Works` Section */
section.works-sec {
	background-color: #e1e3f0;
	width: 100%;
	z-index: -1;
	display: flex;
	flex-direction: column;
}
.works-bk-img {
	z-index: 1;
}
#works-img-right {
	align-self: flex-end;
	width: 40%;
}
#works-img-left {
	display: inherit;
	width: 90%;
}
.works-btm-text {
	flex-direction: row;
	align-items: flex-end;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.work-text-left {
	align-self: flex-start;
}
.work-text-right {
	/* align-self: flex-end; */
	text-align: justify;
	display: flex;
	justify-content: flex-end;
}
.line-4-hide {
	visibility: hidden;
	width: 50%;
}

/* TODO - [ ] Consider Removing Commented-out section (129 -143) */
/* .line{
	display: inline-block;
	width: 340%;
	margin-left: 8rem;
	z-index: -1;
	margin-bottom: 1rem;
} */
/* .line {
	display: inline-block;
	width: 325%;
	margin-left: 8rem;
	z-index: 1;
	margin-top: -6rem;
	padding-left: 2.3rem;
} */
.line {
	width: 90%;
	margin-left: 10.2rem;
	margin-top: -6rem;
}
.work-btm-text {
	display: flex;
	justify-content: space-between;
}

/*! Our `Mission` Section */

.mission {
	background-color: #e1e3f0;
	padding: 2rem 4rem 4rem 4rem;
	width: 100%;
}
.mission .rw {
	padding: 0.4rem;
}
.form-heading {
	font-family: 'Fredoka One', cursive;
	font-size: 1.2rem;
}

/* TODO - [ ] Consider Removal and Replacement Elsewhere */
/* ::placeholder {
	color: #8d5a97 !important;
	padding-top:1rem !important;
	padding-bottom:1rem !important;
	font-family: 'Domine', serif !important;
} */

/*! Contact Us Section */

.form-control:visited {
	color: #f9d276 !important;
}
.form-control:focus {
	color: #f9d276 !important;
}
.form-control:active {
	color: #f9d276 !important;
}
.submit-success {
	color: #f9d276;
	margin: 0 1rem;
}
.success-msg {
	text-shadow: 2px 2px #000000;
}
.contact-us {
	padding: 0 3rem;
}

/*! Booking Page */


/* .when-sec {
	align-items: left;
} */

.upload-image-box {
	text-align: right;
}

.submitBtn {
	text-align: center;
}
.form-row{
	margin-top: 1.5rem;
}
.text-muted{
	color: #8d5a97 !important;
	font-weight: 700 !important;
	font-size: 1rem !important;
}
.bg-warning{
	background-color: #f9d276 !important;
}
.pressed {
	/* border: 10px double #8D5A97; */
	border-radius: 8px;
	background-color: #e1e3f0;
	box-shadow: none;
  }
.pressed-Service{
	border-radius: 2.5rem;
	background-color: #e1e3f0;
	box-shadow: 0 0 0.5rem 0 #63152f80 !important;
  }
.card-for-fixer{
	border-radius: 3rem;
	margin-bottom: 1rem !important;
}

/*! Footer Section*/
.footer-copyright-text {
	margin: 0;
	padding: 0 0 0.2rem 0;
	font-size: 1.03rem;
	color: #63032e;
} 
#page-container {
	position: relative;
	min-height: 100vh;
  }
#content-wrap {
	padding-bottom: 20.5rem;    /* Footer height */
}
#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 5.5rem;		
	font-family: 'Fredoka One', cursive; 
  }
.footer-img{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 270%;
	z-index: -1;	
}
  
/* .mid-text{
	position: absolute;
	left: 14rem;
} */
.social-icons {
	margin-top: 1rem !important;
}

/*! Thanks page */

.thanks-center {
	position: relative;
	height: 50px;
	margin-top: 13% !important;
	padding-bottom: 8%;
}


/*! Register page */
.register-head{
	position: absolute;
	top: 6%;
	left: 7%;
	width: 15%;
	text-align: center; 
}
.login-bg-img{
	width: 100%;
	height: auto;
}
.reg-quote1{
	line-height: 1.5;
	font-size: 3rem;
	position: absolute;
	top: 24%;
	left: 7%;
	width: 15%;
	padding-top: 2.5rem;
	font-style: italic;
}
.reg-quote2{
	line-height: 1.2;
    font-size: 1.8rem;
    position: absolute;
    top: 43%;
    left: 3%;
    width: 23%;
    padding-top: 2.5rem;
}
.reg-logo{
	position: absolute;
	top: 10%;
	left: 11%;

}

.label-for-register{
	font-family: 'Fredoka One', cursive;
	font-size: 1.1rem;
}
/* attempt 2 */
.register-box{
	background-color: #e1e3f0;
	padding: 1.5rem;
}
input.reg-form{
	border-radius: 0 2rem 2rem 0 !important;
}
.icon-container{
	border-radius: 2rem 0 0 2rem !important;
	background-color: #907e9f;
}
i{
	color: #f2f7f0;
}
/* order history screen */
.history-card{
	/* max-width: 850px;  */
	width:80%;
	border-radius: 2rem; 
	margin: 4% auto;
}
.history-card-img{
	padding-top: 4%;
	padding-bottom: 4%; 
	background-color: #907e9f96; 
	border-radius: 2rem 0 0 2rem;
}

/*! Media Queries */
/* all screens smaller than desktop */
@media (max-width: 576px) {
	.footer-copyright-text {
		font-size: 0.7rem;
		margin-left: 2rem;
	}
	.line {
		visibility: hidden;
		width: 50%;
	}
	.work-text {
		padding: 0 4rem;
	}
	.upload-image-box {
		text-align: center;
		margin-top: 1.5rem;
	}
	.register-box{
		width: 90%;
	}
	.reg-quote1{
		position: absolute;
    	top: 28%;
    	left: 23%;
    	font-size: 2.2rem;
    	size: 2.5rem;
	}
	.reg-quote2{
		position: absolute;
		top: 47%;
		left: 22%;
		width: 35%;
		padding-top: 2.5rem;
		font-size: 1.3rem;
	}
	.reg-logo{
		position: absolute;
		top: 12%;
		left: 30%;
		width: 80px !important;
		height: 80px !important;
	
	}
	.history-card{
		margin-left: 10% !important;
		margin-right: 5% !important;
	}
}
/* for desktop only */
@media (min-width: 576px) {
	.row-service-icons {
		padding: 1rem 7.5rem 0.5rem 7.5rem;
	}
	.row-fixers-ready-to {
		padding: 1rem 16rem;
	}
	.work-btm-text {
		margin-top: 8rem;
	}
	#works-img-left {
		margin-top: -22rem;
	}
	.form-row{
		margin-top: 0.5rem;
	}
	.row1{
		margin-top:2rem;
	}
	.upload-image-box {
		margin-top: 9rem;
	}
	.f1{
		margin-left: 3rem;
	}
	.login-bg-img{
		width: 40%;
		height: auto;
	}
	.register-box{
		width: 50%;
    margin-left: 37rem;
    margin-top: -10rem;
	}
	.history-card-img{
		padding-top: 8%;
		background-color: #907e9f96; 
		border-radius: 2rem 0 0 2rem;
	}
}
/* others */
@media (max-width: 1200px) {
	.row-fixers-ready-to {
		padding: 1rem 12rem;
	}
	.header-bk-img {
		height: 200%;
	}
}
@media (max-width: 990px) {
	.row-fixers-ready-to {
		padding: 1rem 13rem;
	}
}
@media (max-width: 765px) {
	.row-fixers-ready-to {
		padding: 1rem 7rem;
	}
}
@media (max-width: 536px) {
	.row-fixers-ready-to {
		padding: 1rem 3rem;
	}
}
@media (max-width: 400px) {
	.row-fixers-ready-to {
		padding: 1rem 1rem;
	}
}
@media (max-width: 840px) and (min-width: 720px) {
	.line {
		visibility: hidden;
		width: 70%;
	}
	/* .margin-for-ipad {
		margin-left: 16rem;
	} */
	.work-btm-text {
		margin-top: 2rem;
	}
	#works-img-left {
		margin-top: -16rem;
	}
	.line-4-hide {
		visibility: hidden;
		width: -2%;
	}
}
@media (max-width: 720px) and (min-width: 600px) {
	.line {
		visibility: hidden;
		width: 70%;
	}
	.line-4-hide {
		visibility: hidden;
		width: -2%;
	}
}
/* extra large screen */
/* @media (max-width: 1900px) and (min-width: 1800px) {
	
} */
/* ipad and ipad pro */
@media(max-width:1030px)and (min-width:630px){
	.reg-quote1{
		position: absolute;
    	top: 30%;
    	font-size: 2.2rem;
	}
	.reg-quote2{
		position: absolute;
    top: 51%;
    left: 4%;
    width: 21%;
    padding-top: 2.5rem;
    font-size: 1.2rem;
	}
	.reg-logo{
		position: absolute;
		top: 12%;
		left: 11%;
		width: 80px !important;
		height: 80px !important;
	}
	.register-box{
		width: 60%;
    margin-left: 17rem;
    margin-top: -4rem;
	}
	.flex-for-tab{
		display: flex;
		flex-wrap: nowrap !important;
	}
}
@media(max-width:1510px)and (min-width:1030px){
	.flex-for-tab{
		display: flex;
		flex-wrap: nowrap !important;
	}
}

/* Mobile only */
@media (max-width:420px) and (min-width:350px){
	.history-card-img{
		border-radius: 2rem 2rem 0 0;
	}
	.social-icons{
		flex-grow: 0 !important;
		margin-top: 0 !important;
	}
}
@media (max-width:750px) and (min-width:600px){
	.history-card{
		margin-left: 5% !important;
		margin-right: 5% !important;
	}
	.history-card-img{
		border-radius: 2rem 2rem 0 0;
	}	
}

/* iPhone 5/SE  */
@media (max-width:330px) and (min-width:310px){
	.logo-img {
		width: 42px !important;
		height: auto !important;
	}
	.brand-name {
		font-size: 36px;
	}
}

/* iPad Pro */
@media (max-width: 1030px) and (min-width: 1000px) {
	.line-4-hide {
		visibility: hidden;
		width: 10% !important;
	}
	.f1{
		margin-left: 5rem;
	}
	.reg-logo{
		position: absolute;
		top: 12%;
		left: 9%;
		width: 90px !important;
		height: 90px !important;
	}
	.reg-quote1{
		position: absolute;
		top: 28%;
		left: 4%;
		font-size: 3rem;
	}
	.reg-quote2{
		position: absolute;
    top: 51%;
    left: 2%;
    width: 21%;
    padding-top: 2.5rem;
    font-size: 1.8rem;
	}
}​
