/* Overall App Styling */

body {
	background-color: #f1f7f0;
	color: #63032e;
	font-family: 'Domine', serif;
	text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Fredoka One', cursive;
	padding: 0.5rem 0;
}
hr {
	width: 10%;
}

/*! Landing Page */

.sec-title {
	margin: 1.5rem 0 0 0;
}

/*! Navbar */

.navbar a {
	text-decoration: none;
	color: #63032e;
}
.logo-img {
	margin-bottom: 1.2em;
}
.brand-name {
	font-family: 'Fredoka One', cursive;
	font-size: 40px;
	font-style: italic;
	margin-top: 1em;
}
.sign-in-up h6 {
	text-align: right !important;
}
.header-bk-img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin-top: 0;
	z-index: -1;
	width: 100%;
	height: 330%;
}

/*! Services Section */

.services-section {
	margin-top: 6em;
}
li {
	font-size: 1.2rem;
}
.service-img {
	margin-top: 1.5rem;
}
.shadow {
	box-shadow: 0 0.5rem 1rem #63152f80 !important;
	border-radius: 2.5rem;
}

/*! LeaderShip Section */

.leadership {
	width: 100;
}
.name {
	margin: 1rem 0;
}
.bio-div {
	padding: 2% 7%;
}
.bio-text {
	text-align: justify;
}

/*! How it `Works` Section */
section.works-sec {
	background-color: #e1e3f0;
	width: 100%;
	z-index: -1;
	display: flex;
	flex-direction: column;
}
.works-bk-img {
	z-index: 1;
}
#works-img-right {
	align-self: flex-end;
	width: 40%;
}
#works-img-left {
	display: inherit;
	width: 90%;
}
.works-btm-text {
	flex-direction: row;
	align-items: flex-end;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.work-text-left {
	align-self: flex-start;
}
.work-text-right {
	/* align-self: flex-end; */
	text-align: justify;
	display: flex;
	justify-content: flex-end;
}
.line-4-hide {
	visibility: hidden;
	width: 50%;
}

/* .line{
	display: inline-block;
	width: 340%;
	margin-left: 8rem;
	z-index: -1;
	margin-bottom: 1rem;
} */
/* .line {
	display: inline-block;
	width: 325%;
	margin-left: 8rem;
	z-index: 1;
	margin-top: -6rem;
	padding-left: 2.3rem;
} */
.line {
	width: 90%;
	margin-left: 10.2rem;
	margin-top: -6rem;
}
.work-btm-text {
	display: flex;
	justify-content: space-between;
}

/*! Our `Mission` Section */

.mission {
	background-color: #e1e3f0;
	padding: 2rem 4rem 4rem 4rem;
	width: 100%;
}
.mission .rw {
	padding: 0.4rem;
}
.form-heading {
	font-family: 'Fredoka One', cursive;
	font-size: 1.2rem;
}
::placeholder {
	color: #8d5a97 !important;
	font-family: 'Domine', serif !important;
}

/*! Contact Us Section */

.form-control:visited {
	color: #f9d276 !important;
}
.form-control:focus {
	color: #f9d276 !important;
}
.form-control:active {
	color: #f9d276 !important;
}
.submit-success {
	color: #f9d276;
	margin: 0 1rem;
}
.success-msg {
	text-shadow: 2px 2px #000000;
}
.contact-us {
	padding: 0 3rem;
}

/*! Booking Page */

/* .when-sec {
	align-items: left;
} */

.upload-image-box {
	text-align: right;
}

.submitBtn {
	text-align: center;
}
.form-row{
	margin-top: 1.5rem;
}
.text-muted{
	color: #8d5a97 !important;
	font-weight: 700 !important;
	font-size: 1rem !important;
}
.bg-warning{
	background-color: #f9d276 !important;
}
.pressed {
	/* border: 10px double #8D5A97; */
	border-radius: 8px;
	background-color: #e1e3f0;
  }
.pressed-Service{
	border-radius: 2.5rem;
	background-color: #e1e3f0;
  }
.card{
	border-radius: 3rem;
	margin-bottom: 1rem !important;
}


/*! Login Page */

.login-bk-img {
	/* display: flex;
	z-index: -2; */
	position: absolute;
	top: 0;
	left: 0;
	/* align-self: flex-start; */
	/* width: 40% */
}

.login-sec {
	z-index: -1;
	display: flex;
	flex-direction: column;
}
/*! Footer Section*/
.footer {
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;
	margin-top: 10.5rem;
	margin-bottom: 0;
	font-family: 'Fredoka One', cursive;
}
.footer-img {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin-bottom: 0rem;
	z-index: -1;
	width: 100%;
	height: 270%;
}
.footer-copyright-text {
	margin: 0;
	padding: 0 0 0.2rem 0;
	font-size: 1.03rem;
	color: #63032e;
}
/* .mid-text{
	position: absolute;
	left: 14rem;
} */
.social-icons {
	margin-top: 1.7rem !important;
	/* position: absolute;
	right: 0; */
}

/*! Thanks page */

.thanks-center {
	position: relative;
	height: 50px;
	margin-top: 13% !important;
	padding-bottom: 8%;
}
.thanks-center {
	position: relative;
	height: 50px;
	margin-top: 13% !important;
	padding-bottom: 8%;
}


/*! Media Queries */
/* all screens smaller than desktop */
@media (max-width: 576px) {
	.footer-copyright-text {
		font-size: 0.7rem;
	}
	.footer-img {
		height: 250%;
	}
	.line {
		visibility: hidden;
		width: 50%;
	}
	.work-text {
		padding: 0 4rem;
	}
	.f1 {
		padding-left: 2.6rem;
	}
	.upload-image-box {
		text-align: center;
		margin-top: 1.5rem;
	}
}
/* for desktop only */
@media (min-width: 576px) {
	.row-service-icons {
		padding: 1rem 7.5rem 0.5rem 7.5rem;
	}
	.row-fixers-ready-to {
		padding: 1rem 16rem;
	}
	.work-btm-text {
		margin-top: 8rem;
	}
	#works-img-left {
		margin-top: -22rem;
	}
	.form-row{
		margin-top: 0.5rem;
	}
	.row1{
		margin-top:2rem;
	}
	.upload-image-box {
		margin-top: 9rem;
	}
}
/* others */
@media (max-width: 1200px) {
	.row-fixers-ready-to {
		padding: 1rem 12rem;
	}
	.header-bk-img {
		height: 200%;
	}
}
@media (max-width: 990px) {
	.row-fixers-ready-to {
		padding: 1rem 13rem;
	}
}
@media (max-width: 765px) {
	.row-fixers-ready-to {
		padding: 1rem 7rem;
	}
}
@media (max-width: 536px) {
	.row-fixers-ready-to {
		padding: 1rem 3rem;
	}
}
@media (max-width: 400px) {
	.row-fixers-ready-to {
		padding: 1rem 1rem;
	}
}
@media (max-width: 770px) and (min-width: 740px) {
	.line {
		visibility: hidden;
		width: 70%;
	}
	/* .margin-for-ipad {
		margin-left: 16rem;
	} */
	.work-btm-text {
		margin-top: 2rem;
	}
	#works-img-left {
		margin-top: -16rem;
	}
	.line-4-hide {
		visibility: hidden;
		width: -2%;
	}
}
@media (max-width: 1900px) and (min-width: 1800px) {
	.footer {
		position: relative;
		bottom: 0;
		left: 0;
		right: 0;
		margin-top: 25.5rem;
		margin-bottom: 0;
		font-family: 'Fredoka One', cursive;
	}
}
@media (max-width: 1030px) and (min-width: 1000px) {
	.line-4-hide {
		visibility: hidden;
		width: 10% !important;
	}
}​
